@charset "utf-8";

.menu {
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 70px;
}

.menu ul li {
    display: inline-block;
    margin-right: 15px;

    font-family: 'Pretendard';
    font-size: 22px;
    font-weight: 600;

    border: 2px solid black;


    border-radius: 50px;
}

.menu ul li a{
   padding: 15px 40px;
   display: block;
}


.menu ul li.active {
    background-color: #453AE0;
    color: #fff;
    border: 2px solid #453AE0;
}

.menu ul li:hover {
    background-color: #453AE0;
    color: #fff;
    border: 2px solid #453AE0;
}

.gallery {
width: 100%;
margin: 0 auto;

text-align: center;

margin-bottom: 180px;
}

.gallery img {
    display: inline-block;
    width: 100%;
    max-width: 1600px;
}




/* Top 버튼 스타일 */
.scroll-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
    cursor: pointer;
    
    /* 기본적으로 숨김 처리 */
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.scroll-top.show {
    opacity: 1;
    visibility: visible;
}

.scroll-top img {
    width: 50px; /* 이미지 크기 조절 */
}

.scroll-top:hover {
    transform: translateY(-5px); /* 호버 시 살짝 위로 이동 */
}


